<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yao.dao.StoryDao">
    <resultMap id="StoryResult" type="com.yao.entity.Story">
        <result property="id" column="id"/>
        <result property="userid" column="userid"/>
        <result property="robotid" column="robotid"/>
        <result property="learnflag" column="learnflag"/>
        <result property="trainflag" column="trainflag"/>
        <result property="train_time" column="train_time" />
        <result property="model_path" column="model_path"/>
    </resultMap>
    <select id="getById" parameterType="java.lang.String" resultMap="StoryResult">
        select * from story where id = #{id}
    </select>
    <insert id="add" parameterType="com.yao.entity.Story" useGeneratedKeys="true" keyProperty="id">
        <selectKey keyProperty="id" resultType="String" order="BEFORE">
            SELECT UUID()
        </selectKey>
        insert into story(id,userid,robotid,learnflag,trainflag,train_time,model_path) values
        (#{id},#{userid},#{robotid},#{learnflag},#{trainflag},#{train_time},#{model_path})
    </insert>
    <select id="getByUserAndRobot"  resultMap="StoryResult">
        select * from story where userid = #{userid} and robotid = #{robotid}
    </select>
    <select id="getByUserAndRobotAndTrainFlag"  resultMap="StoryResult">
        select * from story where userid = #{userid} and robotid = #{robotid}
        and trainflag = #{train_flag} and learnflag = 3 order by train_time desc
    </select>
    <update id="update" parameterType="com.yao.entity.Story">
        update story set userid = #{userid},robotid = #{robotid},
        learnflag = #{learnflag},trainflag = #{trainflag},train_time=#{train_time},
        model_path = #{model_path}
        where id = #{id}
    </update>
    <select id="getByLearnFlag" resultMap="StoryResult">
        select * from story where learnflag = #{learn_flag}
    </select>
</mapper>